
body {
  background-image: url(../images/textured_paper.png);
}


section {
  padding-top: 10px;
}

ul {
  background-color: none;
}

a {
  color:green;
}
.navbar-default {
  margin: 0 auto;
}

.portfolio {
  text-align: center;
  margin-bottom: 400px;
}

.btn-default {
  border: none;
  height:50px;
  width: 80px;
  background: none;
}

.jumbotron {
background-image: url(../images/back.jpeg);
border-top: 5px solid black;
border-bottom: 5px solid black;
background-repeat: no-repeat;
height:590px;
margin: 0 auto;
align-items: center;
text-align: center;
font-family: Century Gothic, sans-serif;
margin-bottom: 50px;
}


.img-thumbnail {
    background: none;
    height:80px;
    width:70px;
    align-items: center;
}


button {
  display: inline-block;
  border-radius: 20px;
}


.list-group-item {
  padding: 0;
  border: none;
  background: none;
}



.col-md-offset-4 {
  h4 {
    padding-left: 10px;
  }

  p {
    padding-left: 10px;
  }

  li  {
    padding: 10px;
  }
}
